export(tsk)
export(ltsk)
export(ltsk.cv)
export(cltsk)
export(lk)
export(dnb)
export(tsbk)
importFrom(fields,rdist)
importFrom(fields,quilt.plot)
importFrom("stats", "aggregate", "approxfun", "coef", "deviance","dist", "lm", "na.omit", "nobs", "runif", "sd", "var")
importFrom("stats", "as.formula")
import(parallel)
import(gstat)
import(sp)
useDynLib(ltsk,.registration = TRUE)
