export(tsk)
export(ltsk)
export(ltsk.cv)
export(cltsk)
export(dnb)
export(tsbk)
importFrom("stats", "aggregate", "approxfun", "coef", "deviance","dist", "lm", "na.omit", "nobs", "runif", "sd", "var")
importFrom("stats", "as.formula")
import(parallel)
useDynLib(ltsk,.registration = TRUE)
